<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Spring Boot</title>
    </head>
    <body> 
    	<h1>Solución Ejercicio 1</h1>  
        <p th:text="'Nombre Personaje: ' + ${nombre}" />
        <p th:text="'Especie Personaje: ' + ${especie}" />
        
        <h1>Solución Ejercicio 2</h1>  
        
        <p th:text="'Nombre Personaje: ' + ${name}" />
        
        <p th:text="'Titulo Pelicula       | Nombre nave/vehiculo      | Tipo'" />
        
        <table>
		    <tr th:each="nave: ${vehiculos}">
		        <td th:text="${nave.nombre}" />
		        <td th:text="${nave.tituloPelicula}" />
		    </tr>
		</table>  
    </body>
</html>